body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__sans;
	@include font-size(1);
	line-height: $font__line-height-body;
        
        //phone general
        @media screen and (max-width: $query__small){
            @include font-size(.8);
        }
        
        //tablet general
        @media screen and (min-width: $query__small) and (max-width: $query__medium){
            @include font-size(.9);
        }
        
        
}

@import "headings";

@import "copy";