/* 
    Created on : May 18, 2017, 10:40:22 PM
    Author     : brittneecostigan
*/

.site-content {
    padding: 3em;
    
    @media screen and (max-width: $query__small){
        padding: 1em;
    }
    
    @media screen and (min-width: $query__small) and (max-width: $query__medium){
        padding: 2em;
    }
}